{% extends 'base.html' %}
{% block content %}
<body>
    <div id="content">
        <div id="header">
            <div id="promo">
                <!-- 376x818 -->
            </div>
            <div id="dialog">
                <div class="dialog-image"></div>
                <div class="dialog-title">
                    <h1>Manage your account</h1>
                    <p>Welcome to our control panel</p>
                </div>
                <div class="dialog-form">
                    {% csrf_token %}
                    Success!
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}