{% extends 'base.html' %}
{% block content %}
<body>
    <div id="content">
        <div id="header">
            <div id="promo">
                <!-- 376x818 -->
            </div>
            <div id="dialog">
                <div class="dialog-image"></div>
                <div class="dialog-title">
                    <h1>Manage your account</h1>
                    <p>Login through our control panel</p>
                </div>
                <form class="dialog-form" method="post">
                        {% csrf_token %}
                        {{form}}
                        <button type="submit">Login</button>
                        <p>Don't have an account? Create an account instead</p>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}