/*
    Configuration
*/
body, html {
  background: url("background.png");
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/*
    Helper CSS
*/
a.no-decoration {
  text-decoration: none;
}

/*
    Header
*/
header#topbar {
  height: 60px;
  background: #343A40;
  display: -ms-grid;
  display: grid;
}

header#topbar .content {
  width: 1280px;
  margin: auto;
  color: white;
}

header#topbar .content .logo {
  float: left;
}

header#topbar .content .menu {
  float: right;
}

header#topbar .content .menu a {
  text-decoration: none;
  color: white;
}

header#topbar .content .menu a.ml-1 {
  margin-left: 36px;
}

/*
    Content
*/
#content {
  height: 960px;
  display: -ms-grid;
  display: grid;
}

#header {
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 75px;
  -ms-grid-columns: 376px auto;
      grid-template-columns: 376px auto;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
      grid-template-areas: 'promo dialog';
}

#promo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: promo;
  background: url("promo.png");
  width: 376px;
  height: 818px;
}

#dialog {
  display: block;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: dialog;
  width: 627px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(162, 177, 200, 0.35);
          box-shadow: 0px 0px 25px rgba(162, 177, 200, 0.35);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 44px;
  padding-right: 44px;
  padding: 36px 44px 36px 44px;
}

#dialog .dialog-image {
  width: 75px;
  height: 100px;
  float: left;
  margin-right: 30px;
}

#dialog .dialog-image img {
  max-height: 100px;
}

#dialog .dialog-title {
  display: inline-block;
  margin-top: 14px;
  padding-left: 12px;
}

#dialog .dialog-title h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

#dialog .dialog-title p {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

#dialog .dialog-form {
  clear: left;
  padding-top: 23px;
}

#dialog .dialog-form label {
  display: block;
  margin-top: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#dialog .dialog-form input, #dialog .dialog-form select {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ECEFF4;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 30px;
  padding: 10px;
}

#dialog .dialog-form br {
  display: none;
}

#dialog .dialog-form .helptext {
  display: none;
}

#dialog .dialog-form button, #dialog .dialog-form .btn {
  display: block;
  background: #FAB005;
  width: 100%;
  height: 62px;
  margin-top: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#dialog .dialog-form button.bg-gray, #dialog .dialog-form .btn.bg-gray {
  background: #ECEFF4;
  color: black;
}

/* Copied from bootstrap alerts */
.errorlist {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/*
    Footer
*/
footer#footer {
  height: 292px;
  background: #343A40;
  display: -ms-grid;
  display: grid;
}

footer#footer .content {
  width: 1280px;
  margin: auto;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20%;
      grid-template-columns: auto 20%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

footer#footer .content .logo .logo-img {
  height: 122px;
  width: 122px;
  background: url("logo.svg") no-repeat;
  float: left;
  margin-right: 24px;
}

footer#footer .content .logo .logo-text p {
  margin: 0;
}

footer#footer .content .logo .logo-text .headline {
  font-size: 36px;
  margin-bottom: 12px;
}

footer#footer .content .logo .logo-text .caption {
  font-size: 14px;
  line-height: 150%;
}

footer#footer .content .links p {
  margin: 0;
}

footer#footer .content .links .headline {
  font-size: 36px;
  margin-bottom: 12px;
}

footer#footer .content .links .caption {
  font-size: 14px;
  line-height: 150%;
}

footer#footer .content .links .caption a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */